# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.db
.pytest_cache/
.venv/
venv/
dist/
build/
*.egg-info/

# Node
node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.env.local

# Docker
*.tar

# IDE
.vscode/
.idea/
*.swp

# GCP
*.json
!package.json
!tsconfig.json
